*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

*::-webkit-scrollbar{
  width: 8px;
  background-color: grey;
}
a{
  text-decoration: inherit;
  color:inherit;
}
.app{
  min-height: 98vh;
  border: 8px solid black;
  margin: 5px;
  padding:5px;
}